In [0]:
data_array = [("Alice", [1, 2, 3]), 
        ("Bob", [4, 5]), 
        ("Catherine", [])]
columns_array  = ["Name", "Scores"]

data_map= [("Alice", {"Math": 85, "Science": 90}), 
        ("Bob", {"Math": 78}),("Man", {})]
columns_map = ["Name", "Scores"]

df_array = spark.createDataFrame(data_array, columns_array)

df_map = spark.createDataFrame(data_map, columns_map)

df_array
df_map

Out[13]: DataFrame[Name: string, Scores: map<string,bigint>]

In [0]:
from pyspark.sql.functions import explode,explode_outer
df_array.select("Name", explode("Scores").alias("Score")).show()

+-----+-----+
| Name|Score|
+-----+-----+
|Alice|    1|
|Alice|    2|
|Alice|    3|
|  Bob|    4|
|  Bob|    5|
+-----+-----+

In [0]:
df_map.select("Name", explode("Scores")).show()

+-----+-------+-----+
| Name|    key|value|
+-----+-------+-----+
|Alice|Science|   90|
|Alice|   Math|   85|
|  Bob|   Math|   78|
+-----+-------+-----+

In [0]:
df_array.select("Name", explode_outer("Scores").alias("Score")).show()

+---------+-----+
|     Name|Score|
+---------+-----+
|    Alice|    1|
|    Alice|    2|
|    Alice|    3|
|      Bob|    4|
|      Bob|    5|
|Catherine| null|
+---------+-----+

In [0]:
df_map.select("Name", explode_outer("Scores")).show()

+-----+-------+-----+
| Name|    key|value|
+-----+-------+-----+
|Alice|Science|   90|
|Alice|   Math|   85|
|  Bob|   Math|   78|
|  Man|   null| null|
+-----+-------+-----+

In [0]:
from pyspark.sql.functions import posexplode,posexplode_outer

In [0]:
df_map.select("Name", posexplode("Scores")).show()

+-----+---+-------+-----+
| Name|pos|    key|value|
+-----+---+-------+-----+
|Alice|  0|Science|   90|
|Alice|  1|   Math|   85|
|  Bob|  0|   Math|   78|
+-----+---+-------+-----+

In [0]:
df_array.select("Name", posexplode("Scores")).show()

+-----+---+---+
| Name|pos|col|
+-----+---+---+
|Alice|  0|  1|
|Alice|  1|  2|
|Alice|  2|  3|
|  Bob|  0|  4|
|  Bob|  1|  5|
+-----+---+---+

In [0]:
df_array.select("Name", posexplode_outer("Scores")).show()
df_map.select("Name", posexplode_outer("Scores")).show()

+---------+----+----+
|     Name| pos| col|
+---------+----+----+
|    Alice|   0|   1|
|    Alice|   1|   2|
|    Alice|   2|   3|
|      Bob|   0|   4|
|      Bob|   1|   5|
|Catherine|null|null|
+---------+----+----+

+-----+----+-------+-----+
| Name| pos|    key|value|
+-----+----+-------+-----+
|Alice|   0|Science|   90|
|Alice|   1|   Math|   85|
|  Bob|   0|   Math|   78|
|  Man|null|   null| null|
+-----+----+-------+-----+

In [0]:
`