In [0]:
data = [("Alice", 6000), ("Bob", 4500), ("Charlie", 3000)]
columns = ["Name", "Salary"]

df= spark.createDataFrame(data,columns)
df

Out[3]: DataFrame[Name: string, Salary: bigint]

In [0]:
from pyspark.sql.functions import col, when
df.withColumn('status',when(df.Name != '','Y').otherwise('N')).show()

+-------+------+------+
|   Name|Salary|status|
+-------+------+------+
|  Alice|  6000|     Y|
|    Bob|  4500|     Y|
|Charlie|  3000|     Y|
+-------+------+------+

In [0]:
df.select("Name","Salary",when(df.Name != '','Y').otherwise('N').alias("High_Earner")).show()

+-------+------+-----------+
|   Name|Salary|High_Earner|
+-------+------+-----------+
|  Alice|  6000|          Y|
|    Bob|  4500|          Y|
|Charlie|  3000|          Y|
+-------+------+-----------+

In [0]:
df.select("Name","Salary",when(df.Salary.isNull(),'Y').otherwise('N').alias("High_Earner")).show()

+-------+------+-----------+
|   Name|Salary|High_Earner|
+-------+------+-----------+
|  Alice|  6000|          N|
|    Bob|  4500|          N|
|Charlie|  3000|          N|
+-------+------+-----------+

In [0]:
from pyspark.sql.functions import expr

df_with_expr = df.withColumn(
    "Salary_Category",
    expr(
        "CASE WHEN Salary > 5000 THEN 'High' " +
        "WHEN Salary > 3000 THEN 'Medium' " +
        "ELSE 'Low' END"
    )
)
df_with_expr.show()

+-------+------+---------------+
|   Name|Salary|Salary_Category|
+-------+------+---------------+
|  Alice|  6000|           High|
|    Bob|  4500|         Medium|
|Charlie|  3000|            Low|
+-------+------+---------------+